*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
    box-sizing: border-box;
}
body{
    background-color: white;
    background-image: url(images/slider.jpg);
    height:100%;
    width:100%;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
}
#header{
height:100px;
width: 100%;
background-color: #3f055e;
position: fixed;
}
#navbar a{
    color: rgb(35, 35, 193);
    padding: 10px;
    text-decoration: none;
    margin: 45px; 
}
#navbar{
    display:inline-block;
    background-color: rgb(255, 157, 0);
   float:left; 
   text-align: center;
   height:40px;
   width: 100%;
   flex-wrap: wrap;
   padding: 10px;
}
.name{
    color:white;
    font-size: 30px;
    text-align:left;
    padding: 200px;
    padding-left: 30px;
}
.contact{
    font-size: 20px;
    text-align: center;
}
p2{
    color: blue;
}
#register{
    margin:5px;
    height:400px;
    font-size: 25px;
    width:40%;
    padding:40px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    
}
#fname, #lname, #mail, #password, #password1, #submit{
    margin:15px;
    
}
#login{
    margin:5px;
    height:300px;
    font-size: 25px;
    width:40%;
    padding:40px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

#username, #password{
    margin:15px;
}
#footer{
    background-color: rgb(255, 157, 0);
    text-align: center;
    height:50px;
    padding: 10px;
    color: white;
}
/*---------------------------------products-------------------*/
#text{
    text-align: center;
    font-family: 'serif';
    font-size: 45px;
}
.first_row{
    height: 300px;
    display:flex;
    margin-top: 100px;
}
.first_row img{
width: 33%;
border-radius: 10px;
margin: 5px;
padding: 10px;
} 
.second_row{
    height: 300px;
    display: flex;
}
.second_row img{
    width:25%;
    border-radius: 10px;
    gap: 10px;
    margin: 5px;
    padding:10px;
    } 
.third_row{
    height: 300px;
    display:flex;
}
.third_row img{
    width:25%;
    border-radius: 10px;
    margin: 5px;
    padding:10px;
    } 
/*---------------------------------categories-------------------*/
#text2{
    padding-top:90px;
    text-align:center;
    color:maroon;
    font-family: 'serif';
    font-size: 100px;
}

.f1_row{
    height: 300px;
    margin-top: 50px;
    display:flex;
}
.f1_row img{
    width:33%;
    gap: 10px;
    border-radius: 10px;
    margin: 5px;
    padding:10px;
    } 
    
.f2_row{
    height: 300px;
    display:flex;
}
.f2_row img{
    width:33%;
    gap:10px;
    border-radius: 10px;
    margin: 5px;
    padding:10px;
    } 
/*---------------------------------products-------------------*/
.container{
    margin:15px;
    display: inline-block;
}
#intro1, #intro2{
    display: inline-block;
    height:250px;
    border-radius: 5%;
}
#intro1{
    width:50%;
    background-color: rgb(107, 107, 207);
    padding:50px;
    margin:15px;
    
}
p3{
    text-align: center;
    color: white;

}
#intro2{
width:40%;
background-color:rgb(160, 144, 174);
padding:40px;
margin:15px;
}
p4{
    text-align: center;
    color: black;
    font-size: 15px;
}
/* Scroll to Hero Section Button */
#scrollToHero {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:blue;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  #scrollToHero:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  
